
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="campaign-factory.component.css">

<div class="container">

    <h1>Create Campaign</h1>

    <!-- <form #gfgform = "ngForm">
        {{ gfgform.value | json }}
        <br>
        <br>
        Name: <input type="text" name = 'name' ngModel>
        Email: <input type="email" name = 'email' ngModel>
    </form> -->

    <form #postCampForm = "ngForm" (ngSubmit)="SubmitDetails(postCampForm.value)">
        
        <!-- {{ postCampForm.value | json }} -->

        <div class="form-group">
        
                <input type="text" name="cname" class = "form-control" ngModel placeholder="Campaign Name">
                <small id="cnameHelp" class="form-text text-muted">Please enter a name for your campaign.</small>
                <!-- <label class="form-label" for="cname">Campaign Name</label> -->
            
        </div>

        <pre></pre>

        <div class="form-group">
            <!-- <label class="form-label" for="cdesc">Campaign Description</label> -->
            <textarea class="form-control" id="cdesc" rows="3" ngModel placeholder="Description"></textarea>
            <small id="cdescHelp" class="form-text text-muted">Why are you creating this campaign?</small>
        </div>

        <pre></pre>

        <div class="form-group">
            <!-- <label class="form-label" for="cimage">Image</label> -->
            <input type="file" class="form-control-file" id="imageFile">
            <small id="imageHelp" class="form-text text-muted">Please add an image.</small>
        </div>

        <pre></pre>
        <button class="btn btn-dark" type="submit">Submit</button>
        </form>
        

    

</div>
