<div>
  <h2 class="showAccount" style="width: 100%; text-align: center"></h2>
  <div style="width: fit-content; margin: auto">
    <input
      type="button"
      value="Send KYC Request"
      routerLink="/app-send-kyc"
      class="btn btn-dark"
      style="font-family: Lato"
      style="margin: 30px"    />
    <input
      type="button"
      value="Create Campaign"
      routerLink="/app-campaign-factory"
      class="btn btn-dark"
      style="font-family: Lato"
      style="margin: 30px"
      *ngIf = hasRole_fundRaiser
    />
    <input
      type="button"
      value="Approvals Pending"
      routerLink="/app-get-approvals"
      class="btn btn-dark"
      style="font-family: Lato"
      style="margin: 30px"
      *ngIf = hasRole_fundApprover
    />
    <!--input type="button" value="Approvals Pending" (click)="getPendingApprovals()" class="btn btn-dark" style="font-family: Lato;" -->
  </div>

  <ul class="list-group">
    <li
      *ngFor="let user of temp; let i = index"
      class="list-group-item list-group-item-action"
      style="font-family: Lato"
    >
    <form #contributeForm = "ngForm" (ngSubmit)="contribute(contributeForm.value)">
      <p><b>Minimum Contribution: </b> {{ user.min_contribution }}</p>
      <p>
        <b>User Balance: </b>{{ user.balance }}, <b>User Manager: </b
        >{{ user.manager }}
      </p>
      <p>
        <b>Campaign Name: </b> {{ user.campaign_name }}, <b>Image URL: </b>
        {{ user.image_url }}
      </p>
      <p>
        <b>Goal: </b> {{ user.target_to_acheive }}, <b>Campaign Address: </b>
        {{ user.campaign_address }}
      </p>


      <pre></pre>
      <div  class="form-group">
        <input type="text" name="campaign_address" class ="form-control" [(ngModel)]="user.campaign_address" hidden>
      </div>
      <div *ngIf=hasRole_fundContributor>
        <div  class="form-group">
          <label class="form-label" for="amount">Enter Amount</label><br>
          <input type="text" name="amount" class = "form-control" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-dark" style="float: left;" type="submit">Contribute</button>
      </div>
        </form>
        <pre></pre>
    </li>
  </ul>
  <!-- <span>{{ temp }} app is running!</span> -->

  <!-- <ul class="list-group">
    <li
      *ngFor="let request of temp1; let i = index"
      class="list-group-item list-group-item-action"
      style="font-family: Lato"
    >
      {{ i + 1 }}.
      <p>Name: {{ request.first_name }} {{ request.last_name }}</p>
      <p>
        Details: {{ request.email }} {{ request.phone }}
        {{ request.user_address }} {{ request.role_requested }}
        {{ request.status }}
      </p>
      <input
        type="button"
        class="btn btn-success"
        value="Approve"
        (click)="approveRequest(request.user_address, request.role_requested)"
      />

      <input
        type="button"
        class="btn btn-danger"
        value="Reject"
        (click)="rejectRequest(request.user_address, request.role_requested)"
      />
    </li>
  </ul> -->
</div>
